# cleanup config file
# $HOME/.hottip/cleaner.cfg

[DEFAULT]
# only remove items that have seeded for this many hours
# can be specified per topic
hold=50

# Target size of torrent storage (GB)
# DEFAULT is for the whole box
# You should leave some headroom for new DLs, non-torrent storage, and orphans
# This will be GiB (powers of 2 - 1024 not 1000)
max = 2850

# A list of tags exempt from FULL cleanup.
# See cleanup description below.
exempt = tag1,tag2,Alias:sometracker.com

# A tag policy
[Alpha]
tgt = 500

# Another tag
[Beta]
tgt = 1500
hold = 26

# Untagged torrents from a particular tracker (the alias from rtcontrol)
[Alias:bigtracker.com]
tgt = 500

# How cleanup happens:
# if size < DEFAULT[max] do nothing, else:
#  Attempt to cull defined tags down to tgt
#   In order of tag overage from tgt
#   Not violating hold
#   And stopping when under default max
# If we are still over max,
#  scan fifo from all torrents
#   but not violating hold
#   and skipping DEFAULT[exempt] onetags

# What is a onetag?
#  Per torrent, the first tag to be found in this order:
#  1. custom_1 (availbe in rutorrent)
#  2. tracker (alias with Alias: prepended)
#  Thus - Alias: tags only apply if a getter or rutorrent tag is not applied.
#  All tags are in 'onetag' syntax.
