#
# environment file contains your download links with auth keys.
# copy to $HOME/.hottip/siteauth and setup
# torload appends the ID to this link.
#


# Example
randomsite='http://ubuntuisos.com/download.php&authkey=mysecretkey&thepass=mysecretpass&id='

